# Customary Imports

In [2]:
import pandas as pd
import numpy as np

# 1. Object Creation

## Series
Creating a Series by passing a list of values, letting pandas create a default integer index:

In [23]:
s = pd.Series([2, 4, 8, np.nan, np.nan, 128]) # creating the series

In [9]:
s

0      2.0
1      4.0
2      8.0
3      NaN
4      NaN
5    128.0
dtype: float64

## Dataframes
#### Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:

In [13]:
dates = pd.date_range('20130101', periods=7)  # creating the datetime index
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06', '2013-01-07'],
              dtype='datetime64[ns]', freq='D')

In [18]:
data_array=np.random.randn(7, 4) # creating the NumPy array
data_array

array([[ 1.022944  , -0.43555611, -0.73997462, -0.72050121],
       [ 1.56625884, -0.48122533, -0.05908897, -0.23710542],
       [-1.3883616 ,  0.34764849,  0.6620207 ,  1.83554236],
       [ 0.09117985,  0.42213603,  0.58988414, -0.01179691],
       [ 0.31040026,  0.82116624, -0.76127319, -1.57390169],
       [ 0.54742657, -1.03816107,  0.46319302, -0.81784015],
       [ 0.26579663, -0.94911202, -0.71351127,  1.14520167]])

In [19]:
df = pd.DataFrame(data_array, index=dates, columns=list('ABCD'))# creating the dataframe
df

                   A         B         C         D
2013-01-01  1.022944 -0.435556 -0.739975 -0.720501
2013-01-02  1.566259 -0.481225 -0.059089 -0.237105
2013-01-03 -1.388362  0.347648  0.662021  1.835542
2013-01-04  0.091180  0.422136  0.589884 -0.011797
2013-01-05  0.310400  0.821166 -0.761273 -1.573902
2013-01-06  0.547427 -1.038161  0.463193 -0.817840
2013-01-07  0.265797 -0.949112 -0.713511  1.145202

In [24]:
# creating the index, array and datagrame at a go
df2 = pd.DataFrame(np.random.randn(7, 4), index=pd.date_range('20130101', periods=7), columns=list('ABCD')) 
df2

                   A         B         C         D
2013-01-01  0.415400 -0.862906  0.784101 -0.117368
2013-01-02 -0.610205 -1.010968  0.840072 -0.606636
2013-01-03 -0.570131  1.324248 -1.234315 -0.644345
2013-01-04 -1.782341 -1.701110 -0.493573 -0.641710
2013-01-05 -0.731218  0.203446  0.864027 -0.426654
2013-01-06 -0.423461 -1.250563 -1.568695 -1.774800
2013-01-07  0.594982  0.488801 -0.376194  0.678930

#### Creating a DataFrame by passing a dict of objects that can be converted to series-like.

In [25]:
df3 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})

In [26]:
df3

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [27]:
df3.dtypes # checking data types

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

# 2. Viewing Objects