# Based on: ["IO tools"](https://pandas.pydata.org/docs/user_guide/io.html)

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.random.rand(8, 4), columns=list("ABCD"))

# 1. CSV & text files

## 1.1 Write to CSV

In [3]:
df.to_csv('../data/data.csv')

## 1.2 Read from CSV

The multipurpose [read_csv][1] function can read in data from `csv`, `tsv` and many other text file formats, with dozens of customizable options.

[1]: https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html#pandas-read-csv

In [4]:
df = pd.read_csv('../data/data.csv', index_col=0)
df.head()

          A         B         C         D
0  0.131818  0.608048  0.656632  0.899186
1  0.610128  0.668836  0.803392  0.511006
2  0.093060  0.632988  0.384397  0.275641
3  0.398859  0.195242  0.808512  0.980867
4  0.356589  0.761425  0.864315  0.823620

# 2. JSON

## 2.1 Write to JSON

In [5]:
df.to_json('../data/data.json')

## 2.2 Read from JSON

In [6]:
df = pd.read_json('../data/data.json')
df.head()

          A         B         C         D
0  0.131818  0.608048  0.656632  0.899186
1  0.610128  0.668836  0.803392  0.511006
2  0.093060  0.632988  0.384397  0.275641
3  0.398859  0.195242  0.808512  0.980867
4  0.356589  0.761425  0.864315  0.823620

# 3. HTML

## 3.1 Write to HTML

In [7]:
df.to_html('../data/data.html')

## 3.2 Read from HTML

In [8]:
df_html = pd.read_html('https://en.wikipedia.org/wiki/International_wheat_production_statistics')[0]
df_html.head()

,Country,2020[1],2019[1],2018[1],2017[1],2016[1],2015[2],2014[3],2013[4],2012[5],...,2005 [6],2004[6],2003[6],2002,2001,2000,1999,1998,1997,1996
0,China,134.3,133.6,131.4,134.3,131.7,130.2,126.2,121.7,125.6,...,96.3,91.6,86.5,90.3,93.9,99.7,113.9,109.7,123.3,110.6
1,India,107.6,103.6,99.7,98.5,93.5,86.5,94.5,93.5,94.9,...,72.0,72.1,65.1,72.8,69.7,76.4,70.8,65.9,69.4,62.6
2,Russia,85.9,74.5,72.1,85.9,73.3,61.8,59.7,52.1,37.7,...,47.6,45.4,34.1,50.6,47.0,34.5,31.0,27.0,44.3,34.9
3,United States,49.7,52.3,51.3,47.3,62.9,55.8,55.4,60.0,61.8,...,57.1,58.7,63.8,44.1,53.3,60.8,62.7,69.4,67.5,62.0
4,Canada,35.2,32.3,31.8,30.0,30.5,27.6,29.3,37.5,27.0,...,25.6,25.9,23.6,16.2,20.6,26.8,26.9,24.1,24.3,29.8

# 4. Excel files

## 4.1 Write to Excel

In [9]:
df.to_excel('../data/data.xlsx', sheet_name='Sheet1')

In [10]:
# To write to multiple sheets of the same file
with pd.ExcelWriter('../data/data.xlsx') as file:
    df.to_excel(file, sheet_name='Sheet I')
    df['A'].to_excel(file, sheet_name='Sheet II')
    df['C'].to_excel(file, sheet_name='Sheet III')

## 4.2 Read from Excel

In [11]:
df = pd.read_excel('../data/data.xlsx', sheet_name='Sheet I', index_col=0)
df.head()

          A         B         C         D
0  0.131818  0.608048  0.656632  0.899186
1  0.610128  0.668836  0.803392  0.511006
2  0.093060  0.632988  0.384397  0.275641
3  0.398859  0.195242  0.808512  0.980867
4  0.356589  0.761425  0.864315  0.823620

In [12]:
# Reading in multiple sheets
with pd.ExcelFile('../data/data.xlsx') as xls:
    df1 = pd.read_excel(xls, 'Sheet I')
    df2 = pd.read_excel(xls, 'Sheet II')

In [13]:
## Another way to read multiple sheets
dfx = pd.read_excel('../data/data.xlsx', sheet_name =['Sheet I', 'Sheet II'],
                   index_col=0)
dfx['Sheet I'].head()

          A         B         C         D
0  0.131818  0.608048  0.656632  0.899186
1  0.610128  0.668836  0.803392  0.511006
2  0.093060  0.632988  0.384397  0.275641
3  0.398859  0.195242  0.808512  0.980867
4  0.356589  0.761425  0.864315  0.823620

# 5. OpenDocument Spreadsheets

In [14]:
# Only reading is currently supported
df = pd.read_excel('../data/data.ods', engine='odf', index_col=0)
df.head()

                   A         B         C         D
2000-01-01 -1.662334  1.754375  2.277854 -1.222050
2000-01-02 -3.170328  2.640600  3.252950  0.325672
2000-01-03 -4.905516  3.187861  1.720954 -1.209723
2000-01-04 -5.109194  3.717737  2.365512  0.338022
2000-01-05 -5.705884  2.990343  1.962035  0.355969

# 6. Binary Excel

In [15]:
# Only reading is currently supported
from pyxlsb import convert_date

df = pd.read_excel('../data/data.xlsb', engine='pyxlsb', converters={0: convert_date},
                   index_col=0)
df.head()

              A         B         C         D
36526 -1.662334  1.754375  2.277854 -1.222050
36527 -3.170328  2.640600  3.252950  0.325672
36528 -4.905516  3.187861  1.720954 -1.209723
36529 -5.109194  3.717737  2.365512  0.338022
36530 -5.705884  2.990343  1.962035  0.355969

# 7. Clipboard

## 7.1 Write to clipboard

In [16]:
df.to_clipboard()  # Writes df's contents to clipboard. Can be pasted elsewhere.

## 7.2 Read from clipboard

In [17]:
pd.read_clipboard().head()

     Y   x1   x2   x3
0  0.5  7.2  5.1  0.9
1  1.1  8.4  3.7  2.5

Copy this table, 

Y | x1 | x2 | x3
--- |--- | --- | ---
 0.5 | 7.2 | 5.1 | 0.9 
 1.1 | 8.4 | 3.7 | 2.5 
 
 then run the cell below.

In [18]:
pd.read_clipboard().head()

     Y   x1   x2   x3
0  0.5  7.2  5.1  0.9
1  1.1  8.4  3.7  2.5

# 8. Pickling

All pandas objects are equipped with `to_pickle` methods which use Python’s `cPickle` module to save data structures to disk using the `pickle` format.

In [19]:
# Save to disk
df.to_pickle('../data/data.pkl')

> **Note:** Loading pickled data received from untrusted sources can be unsafe.

In [20]:
# Read from disk
pd.read_pickle('../data/data.pkl').head()

              A         B         C         D
36526 -1.662334  1.754375  2.277854 -1.222050
36527 -3.170328  2.640600  3.252950  0.325672
36528 -4.905516  3.187861  1.720954 -1.209723
36529 -5.109194  3.717737  2.365512  0.338022
36530 -5.705884  2.990343  1.962035  0.355969

## 8.1 Compressed pickle files
The compression types of `gzip`, `bz2`, `xz` are supported for reading and writing. The `zip` file format only supports reading and must contain only one data file to be read.

In [21]:
df2 = pd.DataFrame({
        'A': np.random.randn(1000),
        'B': 'foo',
        'C': pd.date_range('20130101', periods=1000, freq='s')})
# Infer compression format from extension
df2.to_pickle("../data/data.pkl.gz")

# 'infer' is default, as above
df2.to_pickle("../data/data.pkl.xz", compression="infer")

# Explicitly set compression format
df2.to_pickle("../data/data.pkl.compress", compression="gzip")

In [22]:
pd.read_pickle("../data/data.pkl.xz").head()

          A    B                   C
0  1.632280  foo 2013-01-01 00:00:00
1 -1.446338  foo 2013-01-01 00:00:01
2  1.462065  foo 2013-01-01 00:00:02
3 -0.596584  foo 2013-01-01 00:00:03
4  0.209203  foo 2013-01-01 00:00:04

# 9. HDF5

`HDFStore` is a dict-like object which reads and writes pandas objects using the high performance `HDF5` format, via the `PyTables` library.

Objects can be written to the file just like adding key-value pairs to a `dict`.

## 9.1 Write to HDF5

In [23]:
store = pd.HDFStore('../data/store.h5')
print(store)

<class 'pandas.io.pytables.HDFStore'>
File path: ../data/store.h5

In [24]:
# Various methods to save data
store.put('A', df2.A)
store['BC'] = df2[['B','C']]

store.close()
df2.to_hdf(store, 'df2')

## 9.2 Read from HDF5

In [25]:
store = pd.HDFStore('../data/store.h5')

store['df2'].head()

          A    B                   C
0  1.632280  foo 2013-01-01 00:00:00
1 -1.446338  foo 2013-01-01 00:00:01
2  1.462065  foo 2013-01-01 00:00:02
3 -0.596584  foo 2013-01-01 00:00:03
4  0.209203  foo 2013-01-01 00:00:04

In [26]:
store.df2.head()

          A    B                   C
0  1.632280  foo 2013-01-01 00:00:00
1 -1.446338  foo 2013-01-01 00:00:01
2  1.462065  foo 2013-01-01 00:00:02
3 -0.596584  foo 2013-01-01 00:00:03
4  0.209203  foo 2013-01-01 00:00:04

In [27]:
store.get('df2').head()

          A    B                   C
0  1.632280  foo 2013-01-01 00:00:00
1 -1.446338  foo 2013-01-01 00:00:01
2  1.462065  foo 2013-01-01 00:00:02
3 -0.596584  foo 2013-01-01 00:00:03
4  0.209203  foo 2013-01-01 00:00:04

In [28]:
pd.read_hdf(store, 'df2').head()

          A    B                   C
0  1.632280  foo 2013-01-01 00:00:00
1 -1.446338  foo 2013-01-01 00:00:01
2  1.462065  foo 2013-01-01 00:00:02
3 -0.596584  foo 2013-01-01 00:00:03
4  0.209203  foo 2013-01-01 00:00:04

# 10. Feather

Feather is designed to faithfully serialize and de-serialize `DataFrames`, supporting all of the pandas dtypes, including extension dtypes (`categorical`, `datetime` with tz, ...)

In [29]:
df3 = pd.DataFrame({'a': list('abc'),
                     'b': list(range(1, 4)),
                     'c': np.arange(3, 6).astype('u1'),
                     'd': np.arange(4.0, 7.0, dtype='float64'),
                     'e': [True, False, True],
                     'f': pd.Categorical(list('abc')),
                     'g': pd.date_range('20130101', periods=3),
                     'h': pd.date_range('20130101', periods=3, tz='US/Eastern'),
                     'i': pd.date_range('20130101', periods=3, freq='ms')})
print(df3.dtypes)
df3.head()

a                        object
b                         int64
c                         uint8
d                       float64
e                          bool
f                      category
g                datetime64[ns]
h    datetime64[ns, US/Eastern]
i                datetime64[ns]
dtype: object

,a,b,c,d,e,f,g,h,i
0,a,1,3,4.0,True,a,2013-01-01,2013-01-01 00:00:00-05:00,2013-01-01 00:00:00.000
1,b,2,4,5.0,False,b,2013-01-02,2013-01-02 00:00:00-05:00,2013-01-01 00:00:00.001
2,c,3,5,6.0,True,c,2013-01-03,2013-01-03 00:00:00-05:00,2013-01-01 00:00:00.002

In [30]:
# Write to feather
df3.to_feather('../data/data.feather') 

# Read from feather
pd.read_feather('../data/data.feather').dtypes  # data types preserved

a                        object
b                         int64
c                         uint8
d                       float64
e                          bool
f                      category
g                datetime64[ns]
h    datetime64[ns, US/Eastern]
i                datetime64[ns]
dtype: object

# 11. Parquet

Parquet too is designed to faithfully serialize and de-serialize `DataFrame`s, supporting all of the pandas dtypes.

In [31]:
# Write to parquet
df3.to_parquet('../data/data.parquet')

# Read from parquet
pd.read_parquet('../data/data.parquet').dtypes

a                        object
b                         int64
c                         uint8
d                       float64
e                          bool
f                      category
g                datetime64[ns]
h    datetime64[ns, US/Eastern]
i                datetime64[ns]
dtype: object

# 12. SQL

## 12.1 Write to SQL

In [32]:
import sqlite3

# creating an SQLite database in RAM
# conn = sqlite3.connect(':memory:')

conn = sqlite3.connect('../data/data.db')
users = pd.DataFrame({'name' : [f'User {i + i}' for i in range(10)],
                      'email': [f'user{i + 1}@email' for i in range(10)]})

# Write a DataFrame to an SQL database table
users.to_sql('users', con=conn, if_exists='replace')

10

## 12.2 Read from SQL

In [33]:
# Create a DataFrame from an SQL database table
pd.read_sql("SELECT name, email FROM users", con=conn)

      name         email
0   User 0   user1@email
1   User 2   user2@email
2   User 4   user3@email
3   User 6   user4@email
4   User 8   user5@email
5  User 10   user6@email
6  User 12   user7@email
7  User 14   user8@email
8  User 16   user9@email
9  User 18  user10@email

# 13. STATA

In [34]:
# Write to STATA
df.to_stata('../data/stata.dta')

In [35]:
# Read from STATA
pd.read_stata('../data/stata.dta').head()

   index         A         B         C         D
0  36526 -1.662334  1.754375  2.277854 -1.222050
1  36527 -3.170328  2.640600  3.252950  0.325672
2  36528 -4.905516  3.187861  1.720954 -1.209723
3  36529 -5.109194  3.717737  2.365512  0.338022
4  36530 -5.705884  2.990343  1.962035  0.355969

In [36]:
# Specifying a chunksize yields a StataReader instance that can be used as an iterator.
reader = pd.read_stata('../data/stata.dta', chunksize=250)

for df in reader:
    print(df.shape)

(250, 5)
(250, 5)
(250, 5)
(250, 5)

# 14. SAS

Only reading from SAS is supported.

In [37]:
#  df = pd.read_sas('sas_data.sas7bdat')


#  def do_something(chunk):
#      pass
#
#  rdr = pd.read_sas('sas_xport.xpt', chunk=100000)
#  for chunk in rdr:
#      do_something(chunk)

# 15. SPSS
Only reading from SPSS files is supported.

In [38]:
#  df = pd.read_spss('spss_data.sav')