<a href="https://pandas.pydata.org/docs/user_guide/io.html" target="_blank" style="text-decoration: none;"><h1>Go to "I/O tools" in Pandas Docs</h1></a>

In [1]:
import pandas as pd
import numpy as np

# 1. CSV & text files

In [2]:
# reading CSV file
df=pd.read_csv('../sample_data/data.csv', index_col=0)
df

                   A          B          C          D
2000-01-01 -1.662334   1.754375   2.277854  -1.222050
2000-01-02 -3.170328   2.640600   3.252950   0.325672
2000-01-03 -4.905516   3.187861   1.720954  -1.209723
2000-01-04 -5.109194   3.717737   2.365512   0.338022
2000-01-05 -5.705884   2.990343   1.962035   0.355969
...              ...        ...        ...        ...
2002-09-22 -5.800867  61.973025  10.838181 -23.771765
2002-09-23 -4.772581  62.962272  11.324556 -22.923755
2002-09-24 -4.465015  61.938194  12.820167 -22.725593
2002-09-25 -5.211908  62.952388  11.377140 -23.675546
2002-09-26 -5.138381  62.160625  13.331817 -25.144553

[1000 rows x 4 columns]

In [3]:
# writing to CSV
df.to_csv('../sample_data/data.csv')

# 2. JSON

In [4]:
# writing/converting to JSON
json = df[:10].to_json()
json

'{"A":{"2000-01-01":-1.6623337071,"2000-01-02":-3.1703279261,"2000-01-03":-4.9055156169,"2000-01-04":-5.1091938002,"2000-01-05":-5.7058836123,"2000-01-06":-5.8667680047,"2000-01-07":-7.5678733855,"2000-01-08":-6.5347428139,"2000-01-09":-6.9983132737,"2000-01-10":-7.3803940926},"B":{"2000-01-01":1.7543746416,"2000-01-02":2.6405996729,"2000-01-03":3.1878605419,"2000-01-04":3.7177365941,"2000-01-05":2.9903432463,"2000-01-06":2.3423810963,"2000-01-07":3.9830143896,"2000-01-08":2.3517669059,"2000-01-09":1.731031345,"2000-01-10":2.5817346791},"C":{"2000-01-01":2.2778541809,"2000-01-02":3.2529501215,"2000-01-03":1.7209538329,"2000-01-04":2.3655123077,"2000-01-05":1.9620346736,"2000-01-06":2.5527754337,"2000-01-07":2.7706380132,"2000-01-08":4.4246014493,"2000-01-09":4.1964699316,"2000-01-10":5.3979697305},"D":{"2000-01-01":-1.2220504344,"2000-01-02":0.3256715133,"2000-01-03":-1.2097228282,"2000-01-04":0.3380217834,"2000-01-05":0.3559687056,"2000-01-06":-2.0546820193,"2000-01-07":-3.6840844722,"2000-01-08":-2.0959568389,"2000-01-09":-1.6513837647,"2000-01-10":-0.9992968477}}'

In [5]:
# reading from JSON
pd.read_json(json)

                   A         B         C         D
2000-01-01 -1.662334  1.754375  2.277854 -1.222050
2000-01-02 -3.170328  2.640600  3.252950  0.325672
2000-01-03 -4.905516  3.187861  1.720954 -1.209723
2000-01-04 -5.109194  3.717737  2.365512  0.338022
2000-01-05 -5.705884  2.990343  1.962035  0.355969
2000-01-06 -5.866768  2.342381  2.552775 -2.054682
2000-01-07 -7.567873  3.983014  2.770638 -3.684084
2000-01-08 -6.534743  2.351767  4.424601 -2.095957
2000-01-09 -6.998313  1.731031  4.196470 -1.651384
2000-01-10 -7.380394  2.581735  5.397970 -0.999297

# 3. HTML

In [6]:
# reading from HTML
pd.read_html('https://en.wikipedia.org/wiki/International_wheat_production_statistics')[0]

,Country,2017[1],2016[1],2015[2],2014[3],2013[4],2012[5],2011[5],2010[5],2009[5],...,2005 [6],2004[6],2003[6],2002,2001,2000,1999,1998,1997,1996
0,European Union,150.2,142.7,161.4,157.2,143.3,134.5,140.0,136.5,138.5,...,135.4,149.4,111.7,133.6,126.6,132.4,123.1,134.1,126.4,124.3
1,China,134.3,131.7,130.2,126.2,121.7,125.6,117.4,115.2,115.1,...,96.3,91.6,86.5,90.3,93.9,99.7,113.9,109.7,123.3,110.6
2,India,98.5,93.5,86.5,94.5,93.5,94.9,86.9,80.7,80.7,...,72.0,72.1,65.1,72.8,69.7,76.4,70.8,65.9,69.4,62.6
3,Russia,85.9,73.3,61.8,59.7,52.1,37.7,56.2,41.5,61.7,...,47.6,45.4,34.1,50.6,47.0,34.5,31.0,27.0,44.3,34.9
4,United States,47.3,62.9,55.8,55.4,60.0,61.8,54.4,60.1,60.3,...,57.1,58.7,63.8,44.1,53.3,60.8,62.7,69.4,67.5,62.0
5,France,36.9,29.5,42.8,39.0,38.6,40.3,38.0,38.2,38.3,...,36.9,39.7,30.5,38.9,31.5,37.5,37.2,39.8,33.9,35.9
6,Australia,31.8,22.3,23.7,25.3,22.9,29.9,27.4,22.1,21.7,...,25.1,21.9,26.1,10.1,24.3,18.5,24.1,22.1,19.4,23.7
7,Canada,30.0,30.5,27.6,29.3,37.5,27.0,25.3,23.2,26.8,...,25.6,25.9,23.6,16.2,20.6,26.8,26.9,24.1,24.3,29.8
8,Pakistan,26.7,26.0,25.1,26.0,24.2,23.5,25.2,23.3,24.0,...,21.6,19.5,19.2,18.2,19.0,21.1,17.9,18.7,16.7,16.9
9,Ukraine,26.2,26.1,26.5,24.1,22.8,15.8,22.3,16.9,20.9,...,18.7,17.5,6.9,20.6,21.4,10.2,13.6,14.9,18.4,13.5
10,Germany,24.5,24.5,26.5,27.8,25.0,22.4,22.8,24.1,25.2,...,23.6,25.4,19.3,20.8,22.8,21.6,19.6,20.2,19.8,18.9
11,Turkey,21.5,20.6,22.6,19.0,22.1,20.1,21.8,19.7,20.6,...,21.0,21.0,19.0,19.5,19.0,17.5,16.5,18.5,16.2,16.2
12,Argentina,18.4,18.6,11.6,13.9,8.0,11.0,16.4,14.9,8.9,...,16.0,14.6,14.5,12.3,15.4,16.5,15.7,11.5,14.8,15.9
13,United Kingdom,14.8,14.4,16.4,16.6,11.9,13.3,15.3,14.9,14.4,...,15.0,15.5,14.3,16.0,11.6,16.8,14.9,15.5,15.1,16.1
14,Kazakhstan,14.8,15.0,13.7,13.0,13.9,13.3,22.7,9.6,17.1,...,11.1,9.9,11.5,12.7,12.7,9.1,11.2,4.8,8.7,8.0
15,Iran,14.0[7],11.1[7],11.5,13.5[8],14.0[7],13.8[7],13.5[7],15.0,13.5,...,14.5,14.0,13.4,12.5,9.5,7.0,8.0,11.0,10.2,8.8
16,Poland,11.7,10.8,11.0,11.6,9.5,8.6[7],9.3,9.5,9.8,...,8.6,9.9,7.9,9.3,9.3,8.5,9.1,9.5,8.2,8.6
17,Romania,10.0,8.4,8.0,7.6,7.3,5.3,7.1,5.8,5.2,...,7.0,7.8,2.5,4.4,7.8,4.4,4.4,5.0,6.6,3.1
18,Egypt,8.8[7],9.0[7],9.6[7],9.3,9.5,8.8[7],8.4,7.2,8.5,...,8.1,7.2,6.8,6.6,6.3,6.6,6.3,6.0,5.8,5.7
19,Morocco,7.1,2.7,8.1,5.1,6.9,3.9,6.0,4.9,6.4,...,3.0,5.5,5.7,3.4,3.3,1.4,2.2,4.4,2.3,5.9
20,Italy,7.0,8.0,7.4,7.1,7.0,7.4[7],6.6,6.8,6.3,...,7.5,8.6,6.2,7.6,6.5,6.9,7.3,8.1,6.8,8.3
21,Bulgaria,6.1,5.7,5.0,5.3,5.1,4.3[7],4.5,4.0,4.0,...,3.5,4.0,2.0,4.1,4.1,3.3,3.2,3.3,3.6,1.8
22,Uzbekistan,6.1,6.9,7.0,7.0,6.8,6.5,6.5,6.7,6.6,...,6.1,5.4,5.4,5.0,3.7,3.5,3.6,3.6,3.0,2.7
23,Hungary,5.2,4.8,5.3,5.3,5.1,3.8,4.1,3.8,4.4,...,5.0,6.0,2.9,3.9,5.2,3.7,2.6,4.9,5.3,3.9
24,Denmark,4.8,4.2,5.0,4.9,4.1,4.5,4.8,5.1,5.9,...,4.8,4.8,4.7,4.1,4.7,4.7,4.5,5.0,5.0,4.8
25,Ethiopia,4.8,4.5,4.7,4.2,4.0,2.9,2.9,3.1,2.5,...,1.7,1.6,1.4,1.5,1.6,2.5,2.1,1.5,2.0,1.6
26,Spain,4.8,6.4,6.4,6.5,7.6,4.7,6.9,5.6,4.7,...,3.8,7.1,6.3,6.8,5.0,7.3,4.9,5.3,4.6,6.0
27,Czech Republic,4.7,5.5,5.3,5.4,4.7,3.5,4.9,4.2,4.4,...,4.5,5.0,2.6,3.9,4.5,4.1,4.0,3.8,3.6,3.7
28,Brazil,4.3,6.8,5.5,6.3,5.7,4.4,5.7,6.0,5.1,...,5.2,5.7,6.2,3.1,3.4,1.7,2.5,2.3,2.5,3.3
29,Afghanistan,4.3,4.6,4.7,5.4,5.2,5.1,3.4,4.5,5.1,...,4.3,2.3,3.5,2.7,1.6,1.5,2.5,2.8,2.7,2.3
30,Lithuania,3.9,3.8,4.4,3.2,2.9,3.0,1.9,1.7,2.1,...,1.4,1.4,1.2,1.2,1.1,1.2,0.9,1.0,1.1,0.9
31,Mexico,3.5,3.9,3.7,3.7,3.4,2.3,3.6,3.7,4.1,...,3.0,2.9,2.8,3.2,3.3,3.3,3.1,3.2,3.6,3.4
32,Sweden,3.3,2.8,3.3,3.1,1.9,2.3,2.3,2.2,2.3,...,2.2,2.4,2.3,2.1,2.4,2.4,1.7,2.2,2.1,2.0
33,Iraq,3.0,3.1,2.6,3.8[7],3.3[7],2.4,2.8,2.8,1.7,...,2.2,1.8,2.3,2.6,0.9,0.4,0.8,1.1,1.1,1.3
34,Belarus,2.6,2.3,2.9,2.9,2.1,2.6,2.2,1.7,2.0,...,1.2,1.1,0.8,1.0,0.9,1.0,0.7,0.8,0.7,0.6
35,Algeria,2.4,2.4,2.7,2.4,3.2[7],3.4,2.6,2.6,3.0,...,2.4,2.7,3.0,1.5,2.0,0.8,1.5,2.3,0.7,3.0
36,Serbia,2.3,2.9,2.4,2.4,2.7,1.9,2.1,1.6,2.1,...,2.7,2.8,1.4,2.3,2.5,2.3,2.1,2.9,3.1,1.5
37,Syria,2.2[7],2.9[7],2.4,2.0,3.1[7],3.7[7],3.9,3.1,3.7,...,4.7,4.5,4.9,4.8,4.7,2.7,2.6,4.1,3.0,4.1
38,Latvia,2.1,2.1,2.3,1.5,1.4,1.5,0.9,1.0,1.0,...,0.7,0.5,0.5,0.5,0.5,0.4,0.4,0.4,0.4,0.4
39,World total,771.7,749.5,737.0,733.5,711.0,672.7,697.7,640.3,684.2,...,626.9,634.9,550.1,592.0,588.2,585.0,584.8,596.2,614.7,578.6

In [7]:
# writing to HTML
df = pd.DataFrame(np.random.randn(2, 2))
print(df.to_html())

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>-0.809893</td>
      <td>1.339204</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1.266245</td>
      <td>-1.556022</td>
    </tr>
  </tbody>
</table>

# 4. Excel files

In [8]:
# reading from Excel
pd.read_excel('../sample_data/data.xlsx', sheet_name='Sheet1', index_col=0)

                   A          B          C          D
2000-01-01 -1.662334   1.754375   2.277854  -1.222050
2000-01-02 -3.170328   2.640600   3.252950   0.325672
2000-01-03 -4.905516   3.187861   1.720954  -1.209723
2000-01-04 -5.109194   3.717737   2.365512   0.338022
2000-01-05 -5.705884   2.990343   1.962035   0.355969
...              ...        ...        ...        ...
2002-09-22 -5.800867  61.973025  10.838181 -23.771765
2002-09-23 -4.772581  62.962272  11.324556 -22.923755
2002-09-24 -4.465015  61.938194  12.820167 -22.725593
2002-09-25 -5.211908  62.952388  11.377140 -23.675546
2002-09-26 -5.138381  62.160625  13.331817 -25.144553

[1000 rows x 4 columns]

In [9]:
# writing to Excel
df.to_excel('../sample_data/data.xlsx', sheet_name='Sheet1')

# 5. OpenDocument Spreadsheets

In [10]:
# reading from ODS
pd.read_excel('../sample_data/data.ods', engine='odf', index_col=0)

                   A          B          C          D
2000-01-01 -1.662334   1.754375   2.277854  -1.222050
2000-01-02 -3.170328   2.640600   3.252950   0.325672
2000-01-03 -4.905516   3.187861   1.720954  -1.209723
2000-01-04 -5.109194   3.717737   2.365512   0.338022
2000-01-05 -5.705884   2.990343   1.962035   0.355969
...              ...        ...        ...        ...
2002-09-22 -5.800867  61.973025  10.838181 -23.771765
2002-09-23 -4.772581  62.962272  11.324556 -22.923755
2002-09-24 -4.465015  61.938194  12.820167 -22.725593
2002-09-25 -5.211908  62.952388  11.377140 -23.675546
2002-09-26 -5.138381  62.160625  13.331817 -25.144553

[1000 rows x 4 columns]

# 6. Binary Excel

In [11]:
# reading from Binary Excel
pd.read_excel('../sample_data/data.xlsb', engine='pyxlsb', index_col=0)

              A          B          C          D
36526 -1.662334   1.754375   2.277854  -1.222050
36527 -3.170328   2.640600   3.252950   0.325672
36528 -4.905516   3.187861   1.720954  -1.209723
36529 -5.109194   3.717737   2.365512   0.338022
36530 -5.705884   2.990343   1.962035   0.355969
...         ...        ...        ...        ...
37521 -5.800867  61.973025  10.838181 -23.771765
37522 -4.772581  62.962272  11.324556 -22.923755
37523 -4.465015  61.938194  12.820167 -22.725593
37524 -5.211908  62.952388  11.377140 -23.675546
37525 -5.138381  62.160625  13.331817 -25.144553

[1000 rows x 4 columns]

# 7. Clipboard

Copy this table, then run the cell below

Y | x1 | x2 | x3
--- |--- | --- | ---
 0.5 | 7.2 | 5.1 | 0.9 
 1.1 | 8.4 | 3.7 | 2.5

In [12]:
pd.read_clipboard()

     Y   x1   x2   x3
0  0.5  7.2  5.1  0.9
1  1.1  8.4  3.7  2.5

# 8. Pickling

All pandas objects are equipped with to_pickle methods which use Pythonâ€™s cPickle module to save data structures to disk using the pickle format.

In [13]:
# reading from disk
pd.read_pickle('../sample_data/data.pkl')

                   A          B          C          D
2000-01-01 -1.662334   1.754375   2.277854  -1.222050
2000-01-02 -3.170328   2.640600   3.252950   0.325672
2000-01-03 -4.905516   3.187861   1.720954  -1.209723
2000-01-04 -5.109194   3.717737   2.365512   0.338022
2000-01-05 -5.705884   2.990343   1.962035   0.355969
...              ...        ...        ...        ...
2002-09-22 -5.800867  61.973025  10.838181 -23.771765
2002-09-23 -4.772581  62.962272  11.324556 -22.923755
2002-09-24 -4.465015  61.938194  12.820167 -22.725593
2002-09-25 -5.211908  62.952388  11.377140 -23.675546
2002-09-26 -5.138381  62.160625  13.331817 -25.144553

[1000 rows x 4 columns]

In [14]:
# saving to disk
df.to_pickle('../sample_data/data.pkl')

> **Note:** Loading pickled data received from untrusted sources can be unsafe.

## Compressed pickle files
The compression types of `gzip`, `bz2`, `xz` are supported for reading and writing. The `zip` file format only supports reading and must contain only one data file to be read.

In [15]:
df = pd.DataFrame({
        'A': np.random.randn(1000),
        'B': 'foo',
        'C': pd.date_range('20130101', periods=1000, freq='s')})

df.to_pickle("../sample_data/data.pkl.gz") # inferring compression format from extension
df.to_pickle("../sample_data/data.pkl.xz", compression="infer") #'infer' is default, as above
df.to_pickle("../sample_data/data.pkl.compress", compression="gzip") # explicitly setting compression format

In [16]:
pd.read_pickle("../sample_data/data.pkl.xz")

            A    B                   C
0    0.012131  foo 2013-01-01 00:00:00
1    0.307006  foo 2013-01-01 00:00:01
2   -0.800410  foo 2013-01-01 00:00:02
3    0.825783  foo 2013-01-01 00:00:03
4    0.042765  foo 2013-01-01 00:00:04
..        ...  ...                 ...
995  0.726646  foo 2013-01-01 00:16:35
996 -0.400032  foo 2013-01-01 00:16:36
997 -1.594602  foo 2013-01-01 00:16:37
998  0.339442  foo 2013-01-01 00:16:38
999  1.303052  foo 2013-01-01 00:16:39

[1000 rows x 3 columns]

# 9. HDF5

In [17]:
store = pd.HDFStore('../sample_data/store.h5')
print(store)

<class 'pandas.io.pytables.HDFStore'>
File path: ../sample_data/store.h5

In [18]:
# saving to HDF5
s=df.A
store.put('s', s)
store.put('df', df)
store['df2'] = df[['B','C']]

In [19]:
# reading from HDF5
store['s']

0      0.012131
1      0.307006
2     -0.800410
3      0.825783
4      0.042765
         ...
995    0.726646
996   -0.400032
997   -1.594602
998    0.339442
999    1.303052
Name: A, Length: 1000, dtype: float64

In [20]:
store['df2']

       B                   C
0    foo 2013-01-01 00:00:00
1    foo 2013-01-01 00:00:01
2    foo 2013-01-01 00:00:02
3    foo 2013-01-01 00:00:03
4    foo 2013-01-01 00:00:04
..   ...                 ...
995  foo 2013-01-01 00:16:35
996  foo 2013-01-01 00:16:36
997  foo 2013-01-01 00:16:37
998  foo 2013-01-01 00:16:38
999  foo 2013-01-01 00:16:39

[1000 rows x 2 columns]

# 10. Feather

In [21]:
df = pd.DataFrame({'a': list('abc'),
                   'b': list(range(1, 4)),
                   'c': np.arange(3, 6).astype('u1'),
                   'd': np.arange(4.0, 7.0, dtype='float64'),
                   'e': [True, False, True],
                   'f': pd.Categorical(list('abc')),
                   'g': pd.date_range('20130101', periods=3),
                   'h': pd.date_range('20130101', periods=3, tz='US/Eastern'),
                   'i': pd.date_range('20130101', periods=3, freq='ms')})
print(df.dtypes)
df

a                        object
b                         int64
c                         uint8
d                       float64
e                          bool
f                      category
g                datetime64[ns]
h    datetime64[ns, US/Eastern]
i                datetime64[ns]
dtype: object

,a,b,c,d,e,f,g,h,i
0,a,1,3,4.0,True,a,2013-01-01,2013-01-01 00:00:00-05:00,2013-01-01 00:00:00.000
1,b,2,4,5.0,False,b,2013-01-02,2013-01-02 00:00:00-05:00,2013-01-01 00:00:00.001
2,c,3,5,6.0,True,c,2013-01-03,2013-01-03 00:00:00-05:00,2013-01-01 00:00:00.002

In [22]:
df.to_feather('../sample_data/data.feather')
pd.read_feather('../sample_data/data.feather')

,a,b,c,d,e,f,g,h,i
0,a,1,3,4.0,True,a,2013-01-01,2013-01-01 00:00:00-05:00,2013-01-01 00:00:00.000
1,b,2,4,5.0,False,b,2013-01-02,2013-01-02 00:00:00-05:00,2013-01-01 00:00:00.001
2,c,3,5,6.0,True,c,2013-01-03,2013-01-03 00:00:00-05:00,2013-01-01 00:00:00.002

In [23]:
pd.read_feather('../sample_data/data.feather').dtypes # data types preserved

a                        object
b                         int64
c                         uint8
d                       float64
e                          bool
f                      category
g                datetime64[ns]
h    datetime64[ns, US/Eastern]
i                datetime64[ns]
dtype: object

# 11. Paraquet

In [24]:
#writing to paraquet
df.to_parquet('../sample_data/data.paraquet')

In [25]:
#reading from paraquet
pd.read_parquet('../sample_data/data.paraquet')

,a,b,c,d,e,f,g,h,i
0,a,1,3,4.0,True,a,2013-01-01,2013-01-01 00:00:00-05:00,2013-01-01 00:00:00.000
1,b,2,4,5.0,False,b,2013-01-02,2013-01-02 00:00:00-05:00,2013-01-01 00:00:00.001
2,c,3,5,6.0,True,c,2013-01-03,2013-01-03 00:00:00-05:00,2013-01-01 00:00:00.002

In [26]:
pd.read_parquet('../sample_data/data.paraquet').dtypes

a                        object
b                         int64
c                         uint8
d                       float64
e                          bool
f                      category
g                datetime64[ns]
h    datetime64[ns, US/Eastern]
i                datetime64[ns]
dtype: object