In [1]:
import pandas as pd

# 1. CSV & text files

In [2]:
pd.read_csv('../sample_data/data.csv')

     Unnamed: 0         A          B          C          D
0    2000-01-01 -1.662334   1.754375   2.277854  -1.222050
1    2000-01-02 -3.170328   2.640600   3.252950   0.325672
2    2000-01-03 -4.905516   3.187861   1.720954  -1.209723
3    2000-01-04 -5.109194   3.717737   2.365512   0.338022
4    2000-01-05 -5.705884   2.990343   1.962035   0.355969
..          ...       ...        ...        ...        ...
995  2002-09-22 -5.800867  61.973025  10.838181 -23.771765
996  2002-09-23 -4.772581  62.962272  11.324556 -22.923755
997  2002-09-24 -4.465015  61.938194  12.820167 -22.725593
998  2002-09-25 -5.211908  62.952388  11.377140 -23.675546
999  2002-09-26 -5.138381  62.160625  13.331817 -25.144553

[1000 rows x 5 columns]