# [Go to "Styling" in pandas docs](https://pandas.pydata.org/pandas-docs/stable/user_guide/style.html)

In [1]:
import pandas as pd
import numpy as np

The `DataFrame.style` property returns a `Styler` object, which has useful methods for formatting and displaying `DataFrames`.

Styling is accomplished using **CSS**: through functions that take scalars, `DataFrames` or `Series`, and return like-indexed `DataFrames` or `Series` with CSS `"attribute: value"` pairs for the values.

>`Styler` objects have a `_repr_html_` method that automatically renders tables.

In [2]:
df = pd.DataFrame(np.random.standard_normal(20).reshape(5, 4), columns=list('ABCD'))
print(type(df.style))

df.style

<class 'pandas.io.formats.style.Styler'>

>If you want the actual HTML back for further processing or for writing to file, call the `.render()` method, which returns a `string` with CSS classes for each cell.

In [3]:
df[:2].style.render()

'<style  type="text/css" >\n</style><table id="T_94f8e_" ><thead>    <tr>        <th class="blank level0" ></th>        <th class="col_heading level0 col0" >A</th>        <th class="col_heading level0 col1" >B</th>        <th class="col_heading level0 col2" >C</th>        <th class="col_heading level0 col3" >D</th>    </tr></thead><tbody>\n                <tr>\n                        <th id="T_94f8e_level0_row0" class="row_heading level0 row0" >0</th>\n                        <td id="T_94f8e_row0_col0" class="data row0 col0" >1.565390</td>\n                        <td id="T_94f8e_row0_col1" class="data row0 col1" >0.799185</td>\n                        <td id="T_94f8e_row0_col2" class="data row0 col2" >-2.579131</td>\n                        <td id="T_94f8e_row0_col3" class="data row0 col3" >0.505232</td>\n            </tr>\n            <tr>\n                        <th id="T_94f8e_level0_row1" class="row_heading level0 row1" >1</th>\n                        <td id="T_94f8e_row1_col0" class="data row1 col0" >0.293497</td>\n                        <td id="T_94f8e_row1_col1" class="data row1 col1" >1.412492</td>\n                        <td id="T_94f8e_row1_col2" class="data row1 col2" >1.745990</td>\n                        <td id="T_94f8e_row1_col3" class="data row1 col3" >-0.005426</td>\n            </tr>\n    </tbody></table>'

# 1. Building Styles

Style functions should return strings with one or more CSS `attribute: value` pairs delimited by semicolons. Use:

- `Styler.applymap(func)` for elementwise styles

- `Styler.apply(func, axis=0)` for columnwise styles

- `Styler.apply(func, axis=1)` for rowwise styles

- `Styler.apply(func, axis=None)` for tablewise styles

## 1.1 `Styler.applymap` - elementwise.

In [4]:
def color_negatives_red(val):
    """ Converts -ve values' color to red."""
    
    color = 'red' if val < 0 else 'black'
    return f'color: {color}'


df.style.applymap(color_negatives_red)

## 1.2 `Styler.apply` - column-wise(axis=0)

In [5]:
def highlight_max(s):
    """
    Highlight the maximum value in a column (axis=0) or row(axis=1) yellow
    """
    max_bool_array = (s == s.max())
    return ['background-color: yellow' if is_max else '' 
            for is_max in max_bool_array ]

df.style.apply(highlight_max, axis=0)

## 1.3 `Styler.apply` -  row-wise(axis=1)

In [6]:
df.style.apply(highlight_max, axis=1)

## 1.4 `Styler.apply` - table-wise(axis=None)

>The function must return a `DataFrame` with the same index and column labels.

In [7]:
def enlarge_overall_max(data):
    """
    Highlight the maximum in a Series or DataFrame colums/rows yellow
    """
    return pd.DataFrame(np.where(data == data.max().max(), 'font-size: 2em', ''),
                        index=data.index, columns=data.columns)
   
df.style.apply(enlarge_overall_max, axis=None)

# 2. Slicing (specifying rows/columns)

Both `Styler.apply` and `Styler.applymap` accept a `subset` keyword, which allows you to apply styles to specific rows or columns:

In [8]:
df.style.apply(highlight_max, subset=['B', 'C', 'D'], axis=0)\
    .apply(enlarge_overall_max, axis=None)\
    .applymap(color_negatives_red, subset=['A', 'C'])

To select a subset both column-wise and row-wise, use `pd.IndexSlice`. Only label-based slicing is currently supported.

In [9]:
df.style.applymap(color_negatives_red, subset=pd.IndexSlice[0:2, ['A', 'C']])

# 3. Formating Display Values

The display value can be controlled using `Styler.format`.

Cells can be formatted according to a [format spec string][1] or a callable that takes a single value and returns a string.

[1]: https://docs.python.org/3/library/string.html#format-specification-mini-language

In [10]:
df.style.format("{:.2%}")

> You can use a `dict` to specify columns

In [11]:
df.style.format({'A': '{:e}', 'B': '{:.3f}', 'D': '{:%}'})

> Pass a callable (or dictionary of callables) for more flexible handling

In [12]:
df.style.format({"C": lambda x: f"±{abs(x):.2f}"})

>You can format the text displayed for missing values using `na_rep`

In [13]:
df.iloc[[0, 3], 1:3] = np.nan
df.style.format("{:.2%}", na_rep="-")

> Formatting techniques can be used in conjunction with styling:

In [14]:
df.style.highlight_max().format(None, na_rep="_")

# 4. Builtin Styles

In [15]:
df.style.highlight_null(null_color='orangered')

>You can create “heatmaps” with the `background_gradient` method

In [16]:
import matplotlib

df.style.background_gradient()  # requires matplotlib

In [17]:
df.style.highlight_max(subset=['B', 'D'], color='coral')

In [18]:
df.style.highlight_min(color='cyan')

In [19]:
df.style.hide_index()

Use `Styler.set_properties` to apply  CSS styles arbitrarily

In [20]:
df.style.set_properties(**{'background-color': 'lime', 'font-style': 'oblique'})

In [21]:
df['E']=range(1, 6)
df.style.bar(subset=['A', 'C', 'E'], color='skyblue')

In [22]:
df.style.bar(subset=['A', 'B'], align='mid', color=['crimson', 'skyblue'])

# 5. Sharing Styles

>You can access an existing style using the `export` method, and apply it to a different dataset with the `use` method.

In [23]:
df_style1 = df.style.apply(enlarge_overall_max, axis=None)
df_style1

In [24]:
df2 = 1 / df**2
df2.style.use(df_style1.export())

# 6. Options independent of the data

### 6.1 Precision

Setting the precision only affects the printed number.

In [25]:
df.style.set_precision(3)

### 6.2 Captions

In [26]:
df.style.set_caption('Some useful caption here')

### 6.3 Table Styles

`table_styles` should be a list of dictionaries, each having the `selector` and `props` keys. 

`selector` should be a valid CSS selector. `props` should be a list of tuples of ('attribute', 'value').

In [27]:
from IPython.display import HTML

def hover(hover_color="yellow"):
    return {'selector': "tr:hover",
            'props': [("background-color", f"{hover_color}")]}

styles = [
    hover(),
    {'selector': "th", 'props': [("font-size", "150%"),
                                 ("text-align", "center"),
                                 ("color", "slategrey")]},
    {'selector': "caption", 'props': [("caption-side", "bottom"),
                                      ("font-style", "italic")]}
]
html = (df.style.set_table_styles(styles)
          .set_caption("Hover to highlight."))
html

### 6.4 Missing Values

In [28]:
df.style.set_na_rep('\ | /').highlight_null("yellow")

### 6.5 Hiding the Index or Columns

In [29]:
df.style.hide_index()

In [30]:
df.style.hide_columns(['B','E'])

# 7. Interesting Features ("Fun Stuff")

In [31]:
from IPython.html import widgets

def magnify():
    return [dict(selector="th",
                 props=[("font-size", "4pt")]),
            dict(selector="td",
                 props=[('padding', "0em 0em")]),
            dict(selector="th:hover",
                 props=[("font-size", "12pt")]),
            dict(selector="tr:hover td:hover",
                 props=[('max-width', '200px'),
                        ('font-size', '12pt')])
]

df = pd.DataFrame(np.random.rand(25, 25))
df.style.background_gradient( axis=1)\
    .set_properties(**{'max-width': '80px', 'font-size': '1pt'})\
    .set_caption("Hover to magnify")\
    .set_precision(2)\
    .set_table_styles(magnify())

/home/tim/Projects/learning-pandas/venv/lib/python3.8/site-packages/IPython/html.py:12: ShimWarning: The `IPython.html` package has been deprecated since IPython 4.0. You should import from `notebook` instead. `IPython.html.widgets` has moved to `ipywidgets`.
  warn("The `IPython.html` package has been deprecated since IPython 4.0. "

# 8. Exporting to Excel

- This feature is still experimenatal and subject to changes/enhancements.
- Some support is available for exporting styled `DataFrames` to Excel worksheets using the `OpenPyXL` or `XlsxWriter` engines.
- Only CSS2 named colors and hex colors of the form `#rgb` or `#rrggbb` are currently supported. Properties available include:
```
    background-color       white-space: nowrap

    border-style, border-width, border-color and their {top, right, bottom, left variants}

    color      font-family      font-style     font-weight

    text-align       text-decoration       vertical-align
```

In [32]:
df.style.apply(highlight_max)\
    .to_excel('styled.xlsx', engine='openpyxl')