# [Go to "Styling" in pandas docs](https://pandas.pydata.org/pandas-docs/stable/user_guide/style.html)

The `DataFrame.style` property returns a `Styler` object, which has useful methods for formatting and displaying `DataFrames`.

Styling is accomplished using **CSS**: through functions that take scalars, `DataFrames` or `Series`, and return like-indexed `DataFrames` or `Series` with CSS `"attribute: value"` pairs for the values.

In [1]:
import pandas as pd
import numpy as np
np.random.seed(1)

In [2]:
df = pd.DataFrame(np.random.standard_normal(20).reshape(5, 4), columns=list('ABCD'))

In [3]:
df.style.render()

'<style  type="text/css" >\n</style><table id="T_e8abf298_b63d_11ea_a5c1_b068e6d46a5d" ><thead>    <tr>        <th class="blank level0" ></th>        <th class="col_heading level0 col0" >A</th>        <th class="col_heading level0 col1" >B</th>        <th class="col_heading level0 col2" >C</th>        <th class="col_heading level0 col3" >D</th>    </tr></thead><tbody>\n                <tr>\n                        <th id="T_e8abf298_b63d_11ea_a5c1_b068e6d46a5dlevel0_row0" class="row_heading level0 row0" >0</th>\n                        <td id="T_e8abf298_b63d_11ea_a5c1_b068e6d46a5drow0_col0" class="data row0 col0" >1.624345</td>\n                        <td id="T_e8abf298_b63d_11ea_a5c1_b068e6d46a5drow0_col1" class="data row0 col1" >-0.611756</td>\n                        <td id="T_e8abf298_b63d_11ea_a5c1_b068e6d46a5drow0_col2" class="data row0 col2" >-0.528172</td>\n                        <td id="T_e8abf298_b63d_11ea_a5c1_b068e6d46a5drow0_col3" class="data row0 col3" >-1.072969</td>\n            </tr>\n            <tr>\n                        <th id="T_e8abf298_b63d_11ea_a5c1_b068e6d46a5dlevel0_row1" class="row_heading level0 row1" >1</th>\n                        <td id="T_e8abf298_b63d_11ea_a5c1_b068e6d46a5drow1_col0" class="data row1 col0" >0.865408</td>\n                        <td id="T_e8abf298_b63d_11ea_a5c1_b068e6d46a5drow1_col1" class="data row1 col1" >-2.301539</td>\n                        <td id="T_e8abf298_b63d_11ea_a5c1_b068e6d46a5drow1_col2" class="data row1 col2" >1.744812</td>\n                        <td id="T_e8abf298_b63d_11ea_a5c1_b068e6d46a5drow1_col3" class="data row1 col3" >-0.761207</td>\n            </tr>\n            <tr>\n                        <th id="T_e8abf298_b63d_11ea_a5c1_b068e6d46a5dlevel0_row2" class="row_heading level0 row2" >2</th>\n                        <td id="T_e8abf298_b63d_11ea_a5c1_b068e6d46a5drow2_col0" class="data row2 col0" >0.319039</td>\n                        <td id="T_e8abf298_b63d_11ea_a5c1_b068e6d46a5drow2_col1" class="data row2 col1" >-0.249370</td>\n                        <td id="T_e8abf298_b63d_11ea_a5c1_b068e6d46a5drow2_col2" class="data row2 col2" >1.462108</td>\n                        <td id="T_e8abf298_b63d_11ea_a5c1_b068e6d46a5drow2_col3" class="data row2 col3" >-2.060141</td>\n            </tr>\n            <tr>\n                        <th id="T_e8abf298_b63d_11ea_a5c1_b068e6d46a5dlevel0_row3" class="row_heading level0 row3" >3</th>\n                        <td id="T_e8abf298_b63d_11ea_a5c1_b068e6d46a5drow3_col0" class="data row3 col0" >-0.322417</td>\n                        <td id="T_e8abf298_b63d_11ea_a5c1_b068e6d46a5drow3_col1" class="data row3 col1" >-0.384054</td>\n                        <td id="T_e8abf298_b63d_11ea_a5c1_b068e6d46a5drow3_col2" class="data row3 col2" >1.133769</td>\n                        <td id="T_e8abf298_b63d_11ea_a5c1_b068e6d46a5drow3_col3" class="data row3 col3" >-1.099891</td>\n            </tr>\n            <tr>\n                        <th id="T_e8abf298_b63d_11ea_a5c1_b068e6d46a5dlevel0_row4" class="row_heading level0 row4" >4</th>\n                        <td id="T_e8abf298_b63d_11ea_a5c1_b068e6d46a5drow4_col0" class="data row4 col0" >-0.172428</td>\n                        <td id="T_e8abf298_b63d_11ea_a5c1_b068e6d46a5drow4_col1" class="data row4 col1" >-0.877858</td>\n                        <td id="T_e8abf298_b63d_11ea_a5c1_b068e6d46a5drow4_col2" class="data row4 col2" >0.042214</td>\n                        <td id="T_e8abf298_b63d_11ea_a5c1_b068e6d46a5drow4_col3" class="data row4 col3" >0.582815</td>\n            </tr>\n    </tbody></table>'

# 1. Building Styles

Style functions should return strings with one or more CSS attribute: value delimited by semicolons. Use:

- `Styler.applymap(func)` for elementwise styles

- `Styler.apply(func, axis=0)` for columnwise styles

- `Styler.apply(func, axis=1)` for rowwise styles

- `Styler.apply(func, axis=None)` for tablewise styles

### 1.1 `Styler.applymap` - elementwise.

In [4]:
def color_negatives_red(val):
    """
    Converts -ve values' color to red. 
    """
    color = 'red' if val < 0 else 'black'
    return f'color: {color}'


df.style.applymap(color_negatives_red)

### 1.2 `Styler.apply` - column-wise(axis=0)

In [5]:
def highlight_max(s):
    '''
    Highlight the maximum in a Series or DataFrame colums/rows yellow
    '''
    is_max = s == s.max()
    return ['background-color: yellow' if v else '' for v in is_max]

df.style.apply(highlight_max)  # column-wise (default: axis=0)

### 1.3 `Styler.apply` -  row-wise(axis=1)

In [6]:
df.style.apply(highlight_max, axis=1)  # row-wise

### 1.4 `Styler.apply` - table-wise(axis=None)

In [7]:
def enlarge_max_whole_table(s):
    '''
    Highlight the maximum in a Series or DataFrame colums/rows yellow
    '''
    foo = lambda x: ['font-size: 2em' if y == s.max().max() \
                     else '' for y in x]
    return s.apply(foo)

# applying style function to whole dataframe (axis=None)
df.style.apply(enlarge_max_whole_table, axis=None)

# 2. Slicing (Specifying rows/columns)

Both `Styler.apply`, and `Styler.applymap` accept a **`subset`** keyword, which allows you to apply styles to specific rows or columns, without having to code that logic into your style function.

In [8]:
df.style.apply(highlight_max, subset=['B', 'D'])

# 3. Display Values

The display value can be controlled using `Styler.format`. 
Cells can be formatted according to a [format spec string][1] or a callable that takes a single value and returns a string.

[1]: https://docs.python.org/3/library/string.html#format-specification-mini-language

In [9]:
df.iloc[0, 1] = np.nan
df.style.format("{:.2%}")

In [10]:
df.style.format({'B': "{:0<4.0f}", 'D': '{:+.2f}'})